
@{
}


<h3 class="home-title">Portland's Premiere Handyperson Service</h3>
<h5 class="home-title">Check out our amazing reviews on <a href="https://www.angieslist.com/">Angies List</a></h5>
<div class="container index-body">
    <div class="well col-md-6">
        <h4 class="centering">Painting and Drywall</h4>
        <p class="centering">No job to big or small, painting is our go-to service</p>
        <img src="~/img/drywall_repair.jpg" />
    </div>
    <div class="well col-md-6">
        <h4 class="centering">Minor Plumbing</h4>
        <p class="centering">Leaky faucets?  Backed up drains?  We've got the tools and the knowhow!</p>
        <img src="~/img/plumbing repair.jpg" />
    </div>
    <div class="well col-md-6">
        <h4 class="centering">Electrical</h4>
        <p class="centering">Are your light fixtures getting outdated?  How about adding a security light to your driveway.  Our etensive knowledge will set you straight!</p>
        <img src="~/img/electrical repair.jpg" />
    </div>
    <div class="well col-md-6">
        <h4 class="centering">And more...</h4>
        <p class="centering">Any job that you don't want to do, or don't have the confidence to finish, we will gladly provide for you.</p>
        <img src="~/img/animal in tree.jpg" />
    </div>

</div>


    


